@charset "UTF-8";
.chk-group,
.rdo-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: borderBox;
          box-sizing: borderBox;
  cursor: pointer;
}

.chk-group + .chk-group,
.rdo-group + .chk-group, .chk-group +
.rdo-group,
.rdo-group +
.rdo-group {
  margin-left: 20px;
}

.chk-group label,
.rdo-group label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  word-wrap: break-word;
  cursor: pointer;
}

.chk-group [class^='ic'],
.rdo-group [class^='ic'] {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chk-group .ic-default,
.rdo-group .ic-default {
  border: 1px solid #ccc;
}

.chk-group .ic-default svg,
.rdo-group .ic-default svg {
  width: 100%;
  height: 100%;
  stroke-dashoffset: 100;
  stroke-dasharray: 100;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.chk-group .ic-default svg path,
.rdo-group .ic-default svg path {
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.chk-group input,
.rdo-group input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  font-size: 0;
  border: 0 none;
  cursor: pointer;
  /* :checked 시 *****************************/
}

.chk-group input:checked + label .ic-default svg,
.rdo-group input:checked + label .ic-default svg {
  stroke-dashoffset: 0;
}

.chk-group input:checked + label .ic-default svg path,
.rdo-group input:checked + label .ic-default svg path {
  stroke: red;
}
