* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-black {
  background-color: black;
}


.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  transition: background-color .2s, width .2s, height .2s, box-shadow .2s;
  transform-origin: center;
  pointer-events: none;
  border-radius: 100%;
  background-color: black;
}

.cursor-bg {
  background-color: #FCCC14;
}

.cursor-link,
.cursor-input {
  width: 48px;
  height: 48px;
  background-color: #FCCC14;
  opacity: .9
}

.cursor-link:after,
.cursor-input:after {
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
}

.cursor-link:after {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' stroke='none'><path d='M8.91072 16.4909L8.91072 9.11232L15.9667 9.11232L15.9667 7.37856L8.91072 7.37856L8.91072 0L7.01568 0L7.01568 7.37856L0 7.37856L0 9.11232L7.01568 9.11232L7.01568 16.4909L8.91072 16.4909Z'></path></svg>");
}

.cursor-input:after {
  background-image: url("data:image/svg+xml;utf8,<svg width='8' height='18' viewbox='0 0 8 18' version='1.1' xmlns='http://www.w3.org/2000/svg'><path d='M2.23233 10.0567L2.23233 8.94866L3.36067 8.94866L3.36067 3.1775C3.22653 2.77729 2.63228 1.95249 2.34124 1.72566C2.05224 1.50203 1.70992 1.33279 1.32849 1.21193C1.23151 1.1809 1.06103 1.15546 0.847609 1.14093C0.616584 1.12521 0.365795 1.12319 0.137896 1.12934C0.0649858 1.13163 0.0649858 1.13163 0.0519957 1.13225L3.00049e-15 0.00736308C0.0226667 0.00632748 0.0226667 0.00632748 0.107503 0.00367131C0.36802 -0.00336247 0.651855 -0.00107744 0.924069 0.0174485C1.22048 0.0376215 1.4698 0.074832 1.67011 0.138915C2.16899 0.296987 2.62877 0.5243 3.03192 0.836266C3.29064 1.0379 3.6288 1.43624 3.91224 1.86102C4.20398 1.43781 4.55528 1.04522 4.84907 0.84275C5.32976 0.50901 5.76718 0.27205 6.18514 0.139618C6.38697 0.0748998 6.63646 0.0376553 6.93325 0.0174918C7.20501 -0.000970854 7.48837 -0.00323988 7.74849 0.00378397C7.83332 0.00644014 7.83332 0.00644014 7.85598 0.00747569L7.80399 1.13236C7.79099 1.13175 7.79099 1.13175 7.71809 1.12946C7.49055 1.12331 7.2402 1.12532 7.00958 1.14099C6.79606 1.15549 6.62561 1.18094 6.52714 1.21251C6.2322 1.30597 5.88726 1.49283 5.48968 1.76885C5.17664 1.9846 4.63584 2.71872 4.47099 3.16308L4.47099 8.94866L5.59482 8.94866L5.59482 10.0567L4.47099 10.0567L4.47099 14.7581C4.63575 15.2022 5.17638 15.935 5.49217 16.1518C5.8871 16.4271 6.23097 16.6132 6.53014 16.7063C6.6265 16.7374 6.79672 16.763 7.00999 16.7777C7.24082 16.7935 7.4914 16.7956 7.71894 16.7894C7.79117 16.7872 7.79117 16.7872 7.80399 16.7866L7.85598 17.9115C7.83347 17.9125 7.83347 17.9125 7.74931 17.9151C7.48895 17.9221 7.20512 17.9198 6.93284 17.9011C6.6358 17.8807 6.38608 17.8431 6.18984 17.7797C5.76831 17.6486 5.32974 17.4113 4.85151 17.0779C4.55622 16.8752 4.20382 16.4821 3.91155 16.0585C3.62847 16.4823 3.29072 16.8801 3.03121 17.0832C2.62873 17.3959 2.16763 17.6238 1.67275 17.7792C1.47069 17.8443 1.22114 17.8819 0.924483 17.9023C0.651744 17.921 0.367437 17.9234 0.106676 17.9164C0.0225115 17.9137 0.0225115 17.9137 0 17.9127L0.0519957 16.7878C0.0648146 16.7884 0.0648146 16.7884 0.137046 16.7907C0.364944 16.7968 0.615963 16.7947 0.847195 16.7788C1.06038 16.7642 1.23062 16.7385 1.33139 16.7061C1.7096 16.5873 2.05158 16.4183 2.33872 16.1952C2.63298 15.9649 3.22666 15.1412 3.34453 14.7367L3.36067 10.0567L2.23233 10.0567Z' fill='%23000000' fill-rule='evenodd' stroke='none'></path></svg>")
}